.header_Container {
	background-color: #002048;;
	width: 100%;
	min-width: 1024px;
	height: 220px;
}

.header {
	position: relative;
	width: 1024px;
	margin: auto;
}

#header_contact, #header_about {
	color: white;
}

.header_detail {
	position: absolute;
	text-decoration: none;
	top: 20px;
	right: 10px;
	color: white;
	cursor: pointer;
	font-size: 0.9rem;
	outline: none;
}

#header_copyright {
	position: absolute;
	width: 400px;
	top: 30px;
	left: 200px;
	margin: none; font-size : 2.3rem;
	cursor: default;
	color: white;
	font-size: 2.3rem;
}

#header_search {
	position: absolute;
	width: 550px;
	height: 40px;
	top: 110px;
	left: 200px;
	font-size:
}

#home_search {
	text-align: center;
	width: 480px;
	height: 65px;
	outline: none;
	background: none;
	border: none;
	border-bottom: 3px solid white;
	color:white;
	font-size:2rem;
}

#home_schBtn {
	position: absolute;
	right: 55px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	border: none;
	width: 70px;
	height: 70px;
	outline: none;
	border-radius: 0px;
	background: none;
	color: white;
	font-size: 2rem;
}

#schBtn:hover {
	color: deeppink;
	background-color: white
}

#header_logo {
	position: absolute;
	left: 45px;
	top: 50px;
	width: 100px;
}

#header_logo {
	cursor: pointer;
}

#header_mypageLetter {
	display: inline-block;
}

a {
	text-decoration: none;
}

.mediabox {
	position: relative;
	float: left;
	width: 290px;
	margin: 15px;
	color: #002048;
	border-bottom: 1px dotted #ccc
}

.mediabox img {
	width: 28px;
	height: 28px;
	position: absolute;
	right: 10px;
	display: inline-block;
	box-sizing: border-box
}

.fa-times {
	color: red;
}

.heartBtn {
	font-size: 1rem;
}

a {
	color: white;
}


.getCartnoBtn {
	position: absolute;
	right: 15px;
	border: none;
	background: none;
	outline: none;
}

#home_cartBtn {
	border: none;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0px;
	top: 100px;
	background: #002048;
	outline: none;
}

.fa-shopping-basket {
	color: white;
	font-size: 1.3rem;
}

.shopping-cart {
	display: none;
	position: absolute;
	background: white;
	width: 662px;
	right: 0px;
	top: 140px;
	border: 1px solid #002048;
	z-index: 20;
	padding: 10px;
	box-sizing: border-box;
}

#head {
	width: 100%;
	border-bottom: 1px solid #BFBFBF;
	height: 40px;
	display: block;
}

.cartBrname {
	font-size: 1.5rem;
	font-weight: bold;
}