.alignBrand_Container {
  position: relative;
  box-sizing: border-box;
  width: 1024px;
  height: 3550px;
  margin: auto;
  margin-top: 20px;
}

.alignBrand_menuBar_Container {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  color: #555555;
  display: inline-block;
}

ul {
  margin-bottom: 30px;
  list-style: square;
}

li {
  margin-top: 10px;
}


#align_Brand {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.3rem;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.ss {
  width: 830px;
  position: absolute;
  right: 5px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 0px;
}

div.gallery {
  margin: 8px;
  border: 1px solid #ccc;
  float: left;
  width: 252px;
  margin-bottom: 30px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#align_Brand_gosubmitCode {
  width: 100%;
  height: 80px;
  background-color: white;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

#align_Brand_gosubmitCode:hover {
  background-color: #FF97B8;
  color: white;
  border: 1px solid #FF97B8;
}

h1 {
  margin-left: 10px;
}
.w3-ul{
  list-style: none;
  padding-left: 15px;
  font-size: 0.9rem;


}

li{
  cursor: pointer;
}


.view_more{
position: absolute;
bottom: 0px;
right: 27px;
font-size: 0.8rem;
color: black;
font-weight:bold;

}
.midcatTitle{
display: inline-block;
text-decoration: none;
}

.titleBox{
  position: relative;
}
