/* .slide_container {
width: 100%;
position: absolute;
top: 0;
z-index: 999;
border-bottom: 3px solid #FF97B8;
}

#menu {
padding: 50px 0;
border-bottom: solid 10px #FF97B8;
background: #fff;
display: none;
}

#menu ul {
overflow: hidden;
margin: 0 auto;
padding: 0;
max-width: 1024px;
width: 1024px;
}

#menu li {
box-sizing: border-box;
float: left;
margin: 10px;
width: 320px;
height: 100px;
list-style: none;
border: solid 1px #333;
}

#menu li a {
display: block;
margin: 0 2%;
background: #fff;
color: #666;
text-align: center;
text-decoration: none;
font-size: 18px;
}
#menu li a:hover {
color: #FF97B8;
}
#menu li a:active {
color: #FF97B8;
}

#btn {
position: absolute;
margin-left: 48%;
width: 100px;
height: 25px;
border-radius: 0 0 5px 5px;
background:#FF97B8;
cursor: pointer;
}

.layer {
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-color: #d17171;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=530)";
opacity: 0.3;
}


#cartIcon{
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 2px;
}
.btn{
  width: 100%
}


.counter-pill, .counter {
position: absolute;
top: 10px;
right: -15px;
width: 30px;
height: 30px;
text-align: center;
color: #ff97b8;
line-height: 34px;
}

.counter {
font-size: 1.3rem;
}

.counter-pill {


border: 1px solid #ff97b8;
background-color: white;
border-radius: 10px;
}


.pulse {
-webkit-animation-name: pulse;
animation-name: pulse;
} */

