.header_Container {
	background-color: #002048;;
	width: 100%;
	min-width: 1024px;
	height: 340px;
}

.header_detailContainer {
	
}


.header {
	position: fixed;
    width: 100%;
    background: #002048;
    height: 80px;
    z-index: 20;
}

.headertop {
	position: relative;
	width: 1024px;
	margin: auto;
	min-width: 1024px;
}

.headerBottom{
	padding-top:70px;
}

.maindesignBar {
	border: 1px solid white;
	width: 400px;
	margin: auto;
	margin-top: 20px;
}

.headerBtn {
	padding: 10px;
	font-size: 0.9rem;
}

.headerBtn:hover {
	background: #002a5f;
}

#header_contact, #header_about {
	color: white;
}

.header_detail {
	position: absolute;
	text-decoration: none;
	top: 30px;
	right: 0px;
	color: white;
	cursor: pointer;
	font-size: 0.9rem;
	outline: none;
}

#header_copyright {
	cursor: default;
	color: white;
	font-size: 2rem;
	letter-spacing: 17px;
	text-align: center;
	margin-top: 59px;
}

#header_copyright2 {
	margin-top: 20px;
	cursor: default;
	color: white;
	font-size: 0.7rem;
	letter-spacing: 20px;
	text-align: center;
}

#header_search {
	position: absolute;
	width: 410px;
	display: inline-block;
	left: 85px;
	top: 22.5px;
}

#home_search {
	width: 380px;
	outline: none;
	border-bottom: 1px solid white;
	color: #002048;
	border-radius: 3px;
	font-size: 1rem;
	padding-left: 30px;
	height: 29px;
}

.aa {
	color: white;
	font-size: 2rem;
	line-height: 46px
}

#home_schBtn {
	position: absolute;
	right: 0;
	border: none;
	top: -1px;
	background: none;
	color: #002048;
	font-size: 1.6rem;
}

#schBtn:hover {
	color: deeppink;
	background-color: white
}

#header_logo {
	cursor: pointer;
	display: inline-block;
	width: 50px;
	margin-left: 20px;
	margin-top: 19px;
}

#header_mypageLetter {
	display: inline-block;
}

a {
	text-decoration: none;
}

.howToProco {
	width: 1024px;
	height: 400px;
	border: 1px solid white;
}

.mediabox {
	position: relative;
	float: left;
	width: 290px;
	margin: 15px;
	color: #002048;
	border-bottom: 1px dotted #ccc
}

.mediabox img {
	width: 28px;
	height: 28px;
	position: absolute;
	right: 10px;
	display: inline-block;
	box-sizing: border-box
}

.fa-times {
	color: red;
}

.heartBtn {
	font-size: 1rem;
}

a {
	color: white;
}

.getCartnoBtn {
	position: absolute;
	right: 15px;
	border: none;
	background: none;
	outline: none;
}

.fa-shopping-basket {
	color: white;
}

.shopping-cart {
	display: none;
	position: absolute;
	background: white;
	width: 662px;
	right: 0px;
	top: 42px;
	border: 1px solid #002048;
	z-index: 20;
	padding: 10px;
	box-sizing: border-box;
}

#head {
	width: 100%;
	border-bottom: 1px solid #BFBFBF;
	height: 40px;
	display: block;
}

#head > h3 {
	color: #002048;
}

.cartBrname {
	font-size: 1.5rem;
	font-weight: bold;
}

.dropdown {
  padding-top: 0px;
  position: relative;
  display: inline-block;
}

.dropdown-text {
  cursor: pointer;
  position: absolute;
  text-indent: 10px;
  line-height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
  width: 100%;
}

.dropdown-text:after {
  position: absolute;
  right: 6px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #555 transparent transparent transparent;
}

.dropdown-text,
.dropdown-content a {
  color: #333;
  text-shadow: 0 1px #fff;
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;
  right:0px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility:hidden;
  text-indent: 10px;
  line-height: 32px;
  background-color: white;
  border: 1px solid #ccc;
  width: 140px;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background: #e8e8e8;
}


.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: #e8e8e8;
}

.dropdown-toggle:focus ~ .dropdown-text {
  box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #555 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility:visible;
  top: 42px;
}