label {
	display: inline-block;
	width: 200px;
	margin: 5px;
	color:#002048;
	font-weight:300
	
}

body {
	background: #002048;
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	color: #fff;
}

header h1 {
	margin-top: 100px;
	font-size: 3rem;
	margin-bottom: 20px;
	font-weight: 100;
	color:white;
}

.copyright {
	font-size: 25px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin-top: 100px;
}

.ease {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.container {
	width: 1024px;
	min-width: 1024px;
	margin: 0 auto;
	box-sizing: border-box;
}

.tabs {
	background: #fff;
	position: relative;
	margin-bottom: 50px;
}

.tabs>input, .tabs>span {
	width: 20%;
	height: 60px;
	line-height: 60px;
	position: absolute;
	top: 0;
}

.tabs>input {
	cursor: pointer;
	filter: alpha(opacity = 0);
	opacity: 0;
	position: absolute;
	z-index: 99;
}

.tabs>span {
	background: #f0f0f0;
	text-align: center;
	overflow: hidden;
}

.tabs>span i, .tabs>span {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.tabs>input:hover+span {
	background: rgba(255, 255, 255, .1);
}

.tabs>input:checked+span {
	background: #fff;
}

.tabs>input:checked+span, .tabs>input:hover+span {
	color: #002048;
}

#tab-1, #tab-1+span {
	left: 0;
}

#tab-2, #tab-2+span {
	left: 20%;
}

.tab-content {
	padding: 80px 20px 20px;
	width: 100%;
	min-height: 290px;
}

.tab-content section {
	width: 100%;
	display: none;
}

.tab-content section h1 {
	margin-top: 15px;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
}

#tab-1:checked ~ .tab-content #tab-item-1 {
	display: block;
}

#tab-2:checked ~ .tab-content #tab-item-2 {
	display: block;
}

.effect-1>input:checked+span {
	background: #fff;
}

.effect-2 span i {
	padding-right: 15px;
}

@media ( max-width : 600px) {
	.effect-2 span span {
		display: none;
	}
	.effect-2 span i {
		padding: 0;
	}
}

/* effect-3 */
.effect-3 .line {
	background: #002048;
	width: 20%;
	height: 4px;
	position: absolute;
	top: 56px;
}

#tab-1:checked ~ .line {
	left: 0;
}

#tab-2:checked ~ .line {
	left: 20%;
}

/* effect-4 */
.effect-4 span i {
	font-size: 18px;
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	opacity: 0;
	transform: translateX(-50%);
}


input {
	height: 24px;
	outline: none;
	width: 200px;
}

.agree {
	position: absolute;
	right: 30px;
	color: #444;
	font-size: 0.8rem;
	font-weight: 100;
}

.join-btn {
	border: 1px solid #002048;
	right: 30px;
	position: absolute;
	width: 200px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: #004aa5;
	color: white;
	font-weight: 100;
	cursor: pointer;
	top: 245px;
}
.login-btn {
	border: 1px solid #002048;
    position: absolute;
    width: 200px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #004aa5;
    color: white;
    font-weight: 100;
    cursor: pointer;
    top: 245px;
    left: 230px;
}
.join-btn:hover, .join-btn:focus {
	background: #002048;
	color: white;
}

.sign-in-form2, .sign-in-form {
	margin-bottom: 20px
}

.form2 {
	top: 330px;
}

.modal-frame {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:50;
	visibility:hidden;
} 

.modal-body {
	top:0;right:0;bottom:0;left:0;
	width:450px;
	border-radius:3px;
	background:#FFF;
	position:absolute;
	height:200px;
	margin:auto;
	z-index:100;
}


.modal-inner {
	padding: 30px;
    padding-left: 50px;
	opacity:0;
	-webkit-transform:scale(.5);
	-webkit-transition:.2s ease-in-out;
	-moz-transform:scale(.5);
	-moz-transition:.2s ease-in-out;
	-ms-transform:scale(.5);
	-ms-transition:.2s ease-in-out;
	-o-transform:scale(.5);
	-o-transition:.2s ease-in-out;
	transform:scale(.5);
	transition:.2s ease-in-out;
}


/**
 *  Modal overlay
*/

.modal-overlay {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  visibility:hidden;
  opacity:0;
  background:#002048;
  -webkit-transition:.15s ease-in-out;
  -moz-transition:.15s ease-in-out;
  -ms-transition:.15s ease-in-out;
  -o-transition:.15s ease-in-out;
  transition:.15s ease-in-out;
}

.modal-inner {
  -webkit-transform:scale(.95);
  -moz-transform:scale(.95);
  -ms-transform:scale(.95);
  -o-transform:scale(.95);
  transform:scale(.95);
}

/**
 *  Enter states
 */

.modal-frame.active {
  visibility:visible;
  height:inherit;
  display:block;
}

.modal-frame.active .modal-body {
  -webkit-animation: popperIn .45s;
  -moz-animation: popperIn .45s;
  -ms-animation: popperIn .45s;
  -o-animation: popperIn .45s;
  animation: popperIn .45s;
}

@-webkit-keyframes popperIn {
  0% {
    opacity:0;
    -webkit-transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    -webkit-transform:scale(1);
  }
}

@-moz-keyframes popperIn {
  0% {
    opacity:0;
    -moz-transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    -moz-transform:scale(1);
  }
}

@keyframes popperIn {
  0% {
    opacity:0;
    transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    transform:scale(1);
  }
}

@-webkit-keyframes popperOut {
  0% {
    opacity:1;
    -webkit-transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    -webkit-transform:scale(1.05);
  }
  
  100% {
    opacity:0;
    -webkit-transform:scale(1.15);
  }
}

@-moz-keyframes popperOut {
  0% {
    opacity:1;
    -moz-transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    -moz-transform:scale(1.05);
  }
  
  100% {
    opacity:0;
    -moz-transform:scale(1.15);
  }
}

@keyframes popperOut {
  0% {
    opacity:1;
    transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    transform:scale(1.05);
  }
  
  100% {
    opacity:0;
   transform:scale(1.15);
  }
}

.modal-frame.active .modal-inner {
	opacity:1;
	-webkit-transform: scale(1);
	-webkit-transition:.15s ease-in-out;
	-webkit-transition-delay:.13s;
	-moz-transform: scale(1);
	-moz-transition:.15s ease-in-out;
	-moz-transition-delay:.13s;
	-ms-transform: scale(1);
	-ms-transition:.15s ease-in-out;
	-ms-transition-delay:.13s;
	-o-transform: scale(1);
	-o-transition:.15s ease-in-out;
	-o-webkit-transition-delay:.13s;
	transform: scale(1);
	transition:.15s ease-in-out;
	transition-delay:.13s;
  
}

.modal-frame.active .modal-overlay {
  opacity:.5;
  visibility:visible;
}

/**
 *  Leave States
*/
.modal-frame.leave .modal-body {
	opacity:0;
	-webkit-animation: popperOut .5s;
	-webkit-transition:.3s ease-in-out;
	-webkit-transition-delay:.2s;
	-webkit-transform:scale(.95);
	-moz-animation: popperOut .5s;
	-moz-transition:.3s ease-in-out;
	-moz-transition-delay:.2s;
	-moz-transform:scale(.95);
	-ms-animation: popperOut .5s;
	-ms-transition:.3s ease-in-out;
	-ms-transition-delay:.2s;
	-ms-transform:scale(.95);
	animation: popperOut .5s;
	transition:.3s ease-in-out;
	transition-delay:.2s;
	transform:scale(.95);
}

.modal-frame.leave .modal-inner {
	opacity:0;
	-webkit-transform:scale(.95);
	-webkit-transition:.15s ease-in-out;
	-moz-transform:scale(.95);
	-moz-transition:.15s ease-in-out;
	-ms-transform:scale(.95);
	-ms-transition:.15s ease-in-out;
	-o-transform:scale(.95);
	-o-transition:.15s ease-in-out;
	transform:scale(.95);
	transition:.15s ease-in-out;
}

.modalLabel {
 width: 90px;
}

.close{
    position: absolute;
    top: 18px;
    right: 30px;

}

.fa-times{
font-size:1rem;
 color: crimson
}

#create-brand{
	position: absolute;
    right: 30px;
    outline: none;
    background: #004aa5;
    border: none;
    color: white;
    font-weight: 100;
    bottom: -10px;
    height: 30px;
}

#sucOrfailLetter{
    font-size: 0.8rem;
}

h1 img{
 width: 100px;
}

button{
	outline: none;
    background: none;
    border: 1px solid #002048;
    border-radius: 4px;
    color: #002048;
}
